<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bonjour!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        {{ include('annonce/header.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
